body, h1, h2, h3, p, a, img {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

/* General styles */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f4f4f4;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

/* Header styles */
header {
  background-color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 100px;
}

header h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #007bff;
}

header a {
  color: #333;
}

/* Main content styles */
main {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

main h2 {
  font-size: 1.5rem;
  color: #007bff;
}

main p {
  font-size: 1.1rem;
  color: #333;
}

main img {
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}

main .card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

header img {
  width: 100px;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3 {
  font-weight: normal;
  margin-bottom: 10px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.item {
  padding-right: 15px;
  padding-left: 15px;
  flex: 1 0 300px;
  margin-bottom: 30px;
}

.item img {
  width: 100%;
  border-radius: 5px;
}

.item h3 {
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 5px;
}

.item p {
  margin-bottom: 0;
}

#work {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

#work {
  margin-right: 1rem;
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3 {
  font-weight: normal;
  margin-bottom: 10px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

input, textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  height: 150px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

footer {
  font-size: 0.8rem;
  margin-top: 50px;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.section {
  margin-bottom: 30px;
}

.section h2 {
  text-transform: uppercase;
}

.section p {
  line-height: 1.5;
}

.form-container {
  margin-top: 30px;
}

/* Team Member Profiles */
#member {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

#member {
  margin-right: 1rem;
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}

#member h3 {
  margin: 0;
}



/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}

footer p {
  font-size: 1 rem;
}

/* Add media queries for smaller screens */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
  }

  header img {
    margin-bottom: 10px;
  }

  main {
    max-width: 100%;
  }

  .item {
    flex: 1 0 100%;
  }

  #work {
    max-width: 100%;
  }

  footer {
    margin-top: 20px;
  }
}

/* Add media queries for even smaller screens */
@media (max-width: 480px) {
  h1, h2, h3 {
    font-size: 1.5rem;
  }

  #work {
    margin-bottom: 10px;
  }
}

@media (max-width: 600px) {
  img {
    width: 100%;
    height: auto;
  }
}

/* Styles for screens up to 480px wide (small tablets and mobile phones) */
@media (max-width: 480px) {
  body {
    font-size: 14px;
  }
}

/* Styles for screens up to 768px wide (large tablets) */
@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
}

/* Styles for screens up to 960px wide (desktops) */
@media (max-width: 960px) {
  body {
    font-size: 18px;
  }
}

/* Styles for screens up to 1200px wide (large desktops) */
@media (max-width: 1200px) {
  body {
    font-size: 20px;
  }
}

/* For screens larger than 991px */
@media (min-width: 992px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.2rem;
  }}